.carousel {
	width: 60%;
	overflow: hidden;
}

.carousel-image-container {
	display: flex;
}

.carousel-image {
	max-width: 100%;
}

button {
	position: fixed;
	bottom: 20px;
}
#prev {
	left: 20px;
}
#next {
	left: 150px;
}
